<!doctype html>
<html lang="en" data-framework="marionettejs">
	<head>
		<meta charset="utf-8">
		<title>TodoMVC &middot; Typescript & Marionette </title>
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section id="todoapp" class="todoapp">
			<header id="header"></header>
			<section id="main" class="main"></section>
			<footer id="footer" class="footer"></footer>
		</section>
		<footer id="info" class="info">
			<p>Double-click to edit a todo</p>
			<p>
				Created by <a href="http://github.com/jsoverson">Jarrod Overson</a>
				and <a href="http://github.com/derickbailey">Derick Bailey</a>
				using <a href="http://marionettejs.com">Backbone.Marionette</a>
			</p>
			<p>See who else is using marionette at <a href="http://marionettejs.com/">marionettejs.com</a>.</p>
		</footer>

		<!-- Templates -->
		<script type="text/html" id="footerTemplate">
			<span id="todo-count" class="todo-count">
				<strong><%= activeCount %></strong> <%= activeCountLabel() %>
			</span>
			<ul id="filters" class="filters">
				<li class="all">
					<a href="#/">All</a>
				</li>
				<li class="active">
					<a href="#/active">Active</a>
				</li>
				<li class="completed">
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<button id="clear-completed" class="clear-completed" <% if (!completedCount) { %>class="hidden"<% } %>>Clear completed</button>
		</script>
		<script type="text/html" id="headerTemplate">
			<h1>todos</h1>
			<input id="new-todo" class="new-todo" placeholder="What needs to be done?" autofocus>
		</script>
		<script type="text/html" id="todoViewTemplate">
			<div class="view">
				<input class="toggle" type="checkbox" <% if (completed) { %>checked<% } %>>
				<label><%- title %></label>
				<button class="destroy"></button>
			</div>
			<input class="edit" value="<%- title %>">
		</script>
		<script type="text/html" id="todosViewTemplate">
			<input id="toggle-all" class="toggle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list" class="todo-list"></ul>
		</script>

		<!-- Vendor libraries -->
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/underscore/underscore.js"></script>
		<script src="node_modules/backbone/backbone.js"></script>
		<script src="node_modules/backbone.localstorage/backbone.localStorage.js"></script>
		<script src="node_modules/backbone.marionette/lib/backbone.marionette.js"></script>
		<script src="node_modules/backbone.radio/build/backbone.radio.js"></script>
		<script src="node_modules/requirejs/require.js"></script>
		<!-- Application -->

		<!--<script src="js/TodoMVC.Todos.js"></script>-->
		<script src="js/compiled/Todo.js"></script>
		<script src="js/compiled/TodoCollection.js"></script>

		<!--<script src="js/TodoMVC.FilterState.js"></script>-->
		<script src="js/compiled/FilterState.js"></script>
		<script src="js/compiled/FilterChannel.js"></script>

		<!--<script src="js/TodoMVC.Layout.js"></script>-->
		<script src="js/compiled/RootLayout.js"></script>
		<script src="js/compiled/HeaderLayout.js"></script>
		<script src="js/compiled/FooterLayout.js"></script>

		<!--<script src="js/TodoMVC.TodoList.Views.js"></script>-->
		<script src="js/compiled/TodosView.js"></script>
		<script src="js/compiled/TodoView.js"></script>

		<!--<script src="js/TodoMVC.Application.js"></script>-->
		<!--<script src="js/TodoMVC.Router.js"></script>-->
		<!--<script src="js/TodoMVC.js"></script>-->
		<script src="js/compiled/Controller.js"></script>
		<script src="js/compiled/Router.js"></script>
		<script src="js/compiled/TodoApp.js"></script>
		<script src="js/compiled/Bootstrap.js"></script>
	</body>
</html>
