<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Aurelia with TypeScript and Webpack æøå</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app>
    <div class="splash">
      <div class="message">Loading&hellip;</div>
      <span class="fa fa-spinner fa-spin"></span>
    </div>
    <% if (htmlWebpackPlugin.options.metadata.NODE_ENV === 'development') { %>
      <!-- Webpack Dev Server reload -->
      <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
