<div class="container">
  <h1><%- title %></h1>
  <ul>
    <pre><%= JSON.stringify(todos) %></pre>
    <% _.each(todos, function(todo) { %>
      <pre><%= JSON.stringify(todo) %></pre>
      <li><input type="checkbox"><%= todo %></li>
    <% }); %>
  </ul>
</div>
