<div class="container">
  <h1><%- title %></h1>
  <div class="checkbox">
    <label><input type="checkbox"> Toggle todos</label>
  </div>
  <div class="jsTodosPlaceholder"></div>
  <p>Number of todos: <%- numberOfTodos %>.</p>
  <p>Number of completed todos: <%- numberOfCompletedTodos %>.</p>
</div>
