<div class="container">
  <!-- TODO: No need to define the title as parameter. -->
  <h1><%- title %></h1>
  <div class="jsAddTodoPlaceholder"></div>
  <div class="checkbox">
    <label><input type="checkbox" class="jsToggleAll" <%- toggleAllChecked %>> Toggle todos</label>
  </div>
  <div class="jsTodosPlaceholder"></div>
  <% /* TODO: Consider moving these to TodosView to avoid repainting the whole component. */ %>
  <p>Number of todos: <%- numberOfTodos %>.</p>
  <p>Number of completed todos: <%- numberOfCompletedTodos %>.</p>
</div>
