<form>
  <div class="row">
    <div class="col col-xs-4">
      <div class="input-group">
        <input type="text" class="jsTitleInput form-control">
        <span class="input-group-btn"><button type="submit" class="jsAddButton btn btn-primary">Add</button></span>
      </div>
    </div>
  </div>
</form>
