<ul class="nav nav-pills">
  <% _.each(filters, function (filterAttributes) { %>
    <li class="<%- getFilterCssClass(filterAttributes) %> <%- getActiveCssClass(filterAttributes) %>"></li>
  <% }) %>
</div>
