<div class="container">
  <h1>Todos</h1>
  <div class="jsAddTodoRegion"></div>
  <div class="jsToggleAllRegion"></div>
  <div class="jsClearCompletedRegion"></div>
  <div class="jsFilterTodosRegion"></div>
  <div class="jsTodosRegion"></div>
  <div class="jsSummarizationRegion"></div>
</div>
